/* Documentation */

#doc_header {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8rem;
	margin-bottom: 2rem;
	color: #005093;
}

label{
	color: #005093;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

.doc-img {
	border-radius: 1%;
	margin: 2.5%;
	max-width: 95%;
	height: auto;
}

.code-container-doc {
	background-color: white;
	border-radius: 1rem;
	color: #3d3d3d;
	margin: 3%;
	padding: 2%;
    max-width: 96%;
    min-width: 90vh;
}

.code-container-doc code {
	font-size:0.7rem;
}

.content_container_doc {
	margin-top: 6rem;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.text_container_doc {
	padding: 5%;
	font-size: 1.07rem;
	min-width: 5rem;
}

.text_container_doc p {
	font-size: 0.8rem;
}

@media screen and (max-width:768px) {
    .code-container-doc code {
        font-size:0.3rem;
    }
    .code-container-doc {
        min-width: 50vh;
    }
}
