/* Earth, front-page */
#earth_main_container{
    align-items: center;
}

#earth_header_container{
    margin-top:3.5rem;
    min-height: 30rem;
    max-height: 30rem;
    background-image: url("/public/media/home_header.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow:hidden;
}

#earth_header_container img {
    max-width: 100%;
    height: auto;
}

#earth_header_container div {
    min-width: 0;
}

.earth_content_container{
    min-height: 30rem;
}

.earth_text_container{
    padding: 10rem;
    min-height: 8rem;
    font-family: 'Glegoo', serif;
}

.earth_keyword_content{
    text-align: center;
    font-weight: normal;
    font-family: 'Cantata One', serif;
    font-size: 3rem;
    color: #333333;
}

#earth_keyword_container{
    display: flex;
    flex-direction: column;
}

#earth_keyword_container hr{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#9d9d9d), to(#c0c0c0));
}

.earth_keyword_text{
    font-family: 'Cantata One', serif;
    font-size: 0.8rem;
    color: #888888;
    font-style: italic;
    font-weight: normal;
    margin-top: -0.5rem;
}

@media screen and (max-width:700px) {

    .earth_text_container{
        padding: 3rem;
        min-height: 3rem;
        font-family: 'Glegoo', serif;
    }
}


.earth_container_color{
    background-color: #c0c0c0;
}

.earth_content_container h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: -0.3rem;
    color: #005093;
}

#earth_header_container h2{
    text-align: center;
    margin: 12rem;
    color: white;
    font-family: 'Old Standard TT', serif;
    font-size: 3rem;
    font-weight: normal;
    font-style: italic;
    text-shadow: 2px 3px 4px #333333;

}
