#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #5d5d5d;
    min-height: 10rem;


}

#main-footer-container{
    display: flex;
}

#footer-content-container{
    flex-direction: column;
}

#footer-item-container{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    font-family: 'Encode Sans Expanded', sans-serif;


}

.footer-link-item{
    padding-left: 0.5rem;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: white;

}

#footer-text-container{
    color: #9d9d9d;
}

#footer-image{
    max-height: 7rem;
    max-width: 7rem;
    margin-right: -2rem;
}