/*Main footer container*/
#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #5d5d5d;
    min-height: 10rem;
    overflow: hidden;
    width:100%;
    transition: ease height,0.5s,0s,1s;
    bottom:0px;


}

/*Footer container*/
#footer_container{
    display: flex;
}

/*Container for footer content*/
#footer_content_container{
    flex-direction: column;
}
/*Container for about,contact and doc links*/
#footer_item_container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

}
/*Style settings for link items*/
.footer_link_item{
    padding-left: 0.5rem;
    color: white;
    font-family: 'Encode Sans Expanded', sans-serif;
}

/*Container for copyright info*/
#footer_text_container{
    display: flex;
    justify-content: center;
    color: #9d9d9d;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 0.75rem;

}

/*Styling for footer image*/
#footer_image{
    max-height: 7rem;
    max-width: 7rem;
    transition: ease height,0.5s,0s,1s;

}

/*Scaling for different screen sizes*/
@media screen and (max-width:1415px) {

    #footer{
        min-height: 6.5rem;
    }

    #footer_image{
        max-height: 4rem;
        min-height: 4rem;
    }

    #footer_text_container{
        font-size: 0.62rem;
    }

    .footer_link_item{
        font-size: 0.89rem;

    }

    .footer_link_item{
        padding-left: 0.15rem;
    }

}

@media screen and (max-width:768px) {

    #footer_image{
        max-height: 3rem;
        min-height: 3rem;
    }

    #footer{
        min-height: 4rem;
    }

    #footer_text_container{
        font-size: 0.32rem;
    }

    .footer_link_item{
        font-size: 0.43rem;

    }

    #footer_item_container{
        margin-bottom: 0;
    }
}