/* Navbar style */

.header {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	background-color: white;
	border-bottom: 2px #294168 solid;
	height: 6rem;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 100;
}
#logo{
	display: flex;
	display: -webkit-flex;
	width: 10%;
	justify-content: center;
	-webkit-flex-justify-content: center;
}
#logo-img {
	height: 3.9rem;
	max-width: 3.9rem;
}
.nav-img {
	height: 3.4rem;
	max-width: 3.4rem;
}
.navigation {
  display: flex;
	display: -webkit-flex;
	height: 100%;
	width: 80%;
	/*background-color: pink;*/
	justify-content: center;
	-webkit-flex-justify-content: center;
}
.navigation-text {
	font-size: 1.6rem;
	color: #333;
}
.navigation-element {
	padding-left: 5%;
	padding-right: 5%;
}
#logo:hover {
	transform: scale(1.2, 1.2);
}
.navigation-element:hover, .active{
	transform: scale(1.5, 1.5);
}
.active:hover {
	transform: scale(1, 1);
}
