* {
	margin: auto 0;
	line-height: 1.4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body {
	background :#f0f0f0;
	font-size: 17px;
	line-height: 1.4;
}
.container {
	padding: 2rem;
	min-height: 100vh;
}
#main {
	margin-top:4em;
}
.top {
	text-align: center;
	background-color: white;
	color: #5d5d5d;
	padding: 1.5em;
	box-sizing: border-box;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	margin:2rem;
	margin-top:6rem;
}
.main-picture-container {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
}

.earth-picture {
	width:auto;
	max-width: 100%;
	max-height:21rem;
	align-self: center;
}

.earth-picture-card {
	background-color: white;
	width:auto;
	max-width: 100%;
	height:auto;
	max-height: 20rem;
	box-sizing: border-box;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	margin: 1rem;
	overflow:hidden;
}
.earth-picture-card:hover{
	opacity:0.5;
}
.picture-container {
	display: flex;
	display: -webkit-flex;
	align-content: center;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	margin: -1em 0 0 0;
}

#footer {
	background-color: #5d5d5d;
	min-height: 10rem;
}

.button {
	background: #0060a3;
	border: 3px solid #0060a3;
	box-sizing: border-box;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	width: 100%;
	max-width: 24rem;
	padding: 0.5rem 1.5rem;
	color: white;
	font-weight: bold;
	font-size: 1.3rem;
	transition: 0.2s;
	display: block;
	user-select: none;
	cursor: default;
}

.button-container {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 3rem;
}

.buttonContent {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	background: #005093;
	color: #f2f2f2;
}

.button:active, button.active {
	background: #ffffff;
	color: #0060a3;
}

.button:disabled {
	background: #f2f2f2;
	border: 3px solid transparent;
	color: #c0c0c0;
}

.iconLeft {
	width: 2rem;
	margin-right: 0.5rem;
}

#faded {
	position: fixed;
	opacity: 0.6;
	background: black;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	left: 0;
	display:none;

}

#overlay {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

#overlay-container {
	z-index: 99;
	background: white;
	color: black;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0.1rem;
	max-width: 65%;
	max-height: 70%;
	position: fixed;
	top: 15%;
	display: none;
	overflow: hidden;

}

.overlay-info-container{
	width: auto;
	height: auto;
	padding: 2rem;
}

.overlay-picture-conatiner {
	width: auto;
	height: 92%;
	float: left;
}

#overlay-picture {
	max-width:100%;
	max-height:100%;
}

#exit-button {
	left: 0.3rem;
	top: 0.3rem;
	position: absolute;
	z-index: 100;
	heigh:2rem;
	width:2rem;
}

@media screen and (max-width:1366px) {
	#overlay-container{
		width:90%;
		right:5%;
	}
}

@media screen and (max-width:700px) {
	#overlay-container{
		flex-wrap: wrap-reverse;
		padding :0px;
	}
	.overlay-info-container{
		width: auto;
		padding: 1rem;
		height: 50%;
	}
	.overlay-picture-conatiner {
		width: auto;
		height: auto;
		max-height: 50%;
		align-items: flex-start;
	}
	.container {
		padding: 0px;
		padding-top: 2rem;
	}
	.earth-picture {
		max-height: none;
	}
	.earth-picture-card {
		max-height: none;
	}
	.top {
		margin-top:4rem;
	}
}
