{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div id="earth_main_container">

    <div class="content_container">
        <div class="text_container">
            <h1>What we stand for</h1>
            Vivamus arcu nibh, vestibulum non quam id, pretium cursus nisl.
            Integer maximus sed dui et imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Etiam pellentesque orci vel ex fermentum fringilla. Maecenas nulla eros,
            placerat a enim a, posuere facilisis neque. Morbi ultrices, sapien viverra lobortis placerat,
            urna ligula varius erat, a sagittis nibh diam vel odio. Suspendisse in sollicitudin est.
            Donec elementum arcu sem, vel tincidunt dui scelerisque eget. In non sem massa.
            Nunc efficitur massa sit amet vulputate faucibus.
        </div>



        <div class="content_container container_color">
            <div class="text_container">


                <div class="about_img_and_text_container">

                    <div class="about_img_container">
                    <img class="about_round_img" src="/public/media/about_img1.jpg" alt="about_img1">

                        <div class="about_img_text">
                            Vivamus arcu nibh, vestibulum non quam id, pretium cursus nisl.
                            Integer maximus sed dui et imperdiet.
                        </div>
                    </div>

                    <div class="about_img_container">
                        <img class="about_round_img" src="/public/media/about_img2.jpg" alt="about_img2">

                        <div class="about_img_text">
                            Vivamus arcu nibh, vestibulum non quam id, pretium cursus nisl.
                            Integer maximus sed dui et imperdiet.
                        </div>
                    </div>
                </div>

                <div class="about_img_and_text_container">

                    <div class="about_img_container">
                        <img class="about_round_img" src="/public/media/about_img3.jpg" alt="about_img3">

                        <div class="about_img_text">
                            Vivamus arcu nibh, vestibulum non quam id, pretium cursus nisl.
                            Integer maximus sed dui et imperdiet.
                        </div>
                    </div>

                    <div class="about_img_container">
                        <img class="about_round_img" src="/public/media/about_img4.jpg" alt="about_img4">

                        <div class="about_img_text">
                            Vivamus arcu nibh, vestibulum non quam id, pretium cursus nisl.
                            Integer maximus sed dui et imperdiet.
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


</div>

{% endblock %}

