<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Group 22">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/public/css/earth.css">
        <link rel="stylesheet" type="text/css" href="/public/css/about.css">
        <link rel="stylesheet" type="text/css" href="/public/css/contact.css">
        <link rel="icon" href="./static/tree.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/public/media/earth.png" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">

    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <a id="logo" href="/">
                    <img id="logo-img" src="/public/media/earth.png" alt="Earth"/>
                </a>
                <div class ="navigation">
                    {% for anchor in anchors %}
                    <a id="{{anchor.button}}" class="navigation-element" href="{{anchor.link}}">
                        <img class="nav-img navigation-text {% if active === anchor.link %}active{% endif %}" src="{{anchor.img}}"></img>
                    </a>
                    {% endfor %}
                </div>
            </div>

            {% block content %}
            {% endblock %}
        </div>
        <div id="push"></div>

        <div id="footer">

            <div id="footer_container">

                <div id="footer_content_container">

                    <div id="footer_item_container">

                    <nav>

                        <a href="/about" class="footer_link_item">About</a>
                        <a href="/contact" class="footer_link_item">Contact</a>
                        <a href="/doc" class="footer_link_item">Documentation</a>

                    </nav>

                    </div>

                    <div id="footer_text_container">

                        Stop stealing shit, this page is Copyrighted &copy;
                    </div>

                </div>

                <div id="footer-image-container">
                    <img id="footer_image" src="/public/media/earth_grey.png" alt="earth_grey">
                </div>

            </div>

        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="./public/js/script.js"></script>
    </body>
</html>
