<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ole Anders Stokker">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <link rel="icon" href="./static/tree.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="./static/tree.ico" type="image/x-icon"/>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>