{% extends "base.html" %}
{% block content %}
<div id="doc_container">
    <div class="content_container_doc content_container">
        <div class="text_container_doc">
            <h1 id="doc_header">Hvordan har vi løst kravene?</h1>
            <label>Node.js og Express som webserver:</label>
            <p>Vi har brukt node.js og express som webserver...</p>
            <label>Prosjektet kan finnes på:</label>
            <p>http://it2810-22.idi.ntnu.no:8082</p>
            <label>CSS Flexible Box Layout Module:</label>
            <p>Vi har brukt Flexbox i alle delene av siden, navigasjonsbaren, «footeren» og hoveddelen.</p>
            <p>I navigasjonsbaren brukes Flexbox til å midtstille elementer, i tillegg sørger Flexbox for at elementene holder riktig avstand til hverandre.</p>
            <p>I alle undersidene brukes Flexbox til å posisjonere bildene, dette gjøres med Flexbox-wrap, dermed vil bildene "hoppe" ned, så fort skjermstørrelsen blir for liten, i tillegg er det Flexbox som holder elementene midtstilt.</p>
            <p>På landingssiden er elementene plassert med Flexbox</p>

            <label>Navigasjonsbaren:</label>
            <p>Navigasjonsbaren er implementert fra bunnen av med HTML, CSS, Flexbox og bruk av anchors. Navigasjonsbaren er laget for å være dynamisk og fungerer både på små og store skjermer.</p>
            <label>Ajax-funksjonalitet:</label>
            <p>"Contact" siden bruker Ajax. Her sender brukeren en melding til tjeneren(serveren) med navn, epost og meldingen. Da brukeren trykker send sender jQurey en POST-request til serveren uten å oppdatere hele siden, dermed oppdateres kun en liten del av siden.</p>
            <label>Bruk av jQurey:</label>
            <p>Vi bruker «selector» for å hente ut elementer, enten ved klassenavn eller ved id. «Selector» brukes blant annet til å hente ut tekst, sette inn tekst eller legge til lyttere.</p>
            <p>De fleste knappene på nettsiden er gjort aktive med jQurey dette gjøres ved å legge til en lytter til elementet. Vi bruker i hovedsak .click() funksjonen. Denne kaller deretter en annen funksjon som gjør noe.</p>
            <p>Eksempler på dette kan ses lengre ned på siden. De meste brukte jQurey funksjonene på siden er val(), css() og text().</p>

            <label>Responsive web design:</label>
            <p>Siden tilpasser seg forskjellig skjermstørrelser, vi har tatt utgangspunkt i skjermer med bredde på 1415px, og skjermer med bredde på 768px. Men nettsiden bør fungere på alle normale størrelser. For å få til dette, bruker vi en blanding av CSS teknikker.</p>
            <p>Vi bruker prosent og rem til å sette størrelser, tillegg bruker vi CSS @meida for å sette forskjellige størrelser for forskjellige skjerm størrelser. Dermed fungerer nettsiden like bra på mobil som på pc.</p>
            <label>Arbeidsinnsatsnotat:</label>
            <p>Vedlegg med arbeidstimer og oppgaver legges ved på Blackboard.</p>
        </div>
        <div class="code-container-doc">
            <blockquote><pre><code>
            const express = require('express')
            const nunjucks = require('nunjucks')
            const bodyParser = require('body-parser')

            const HOST = process.env.P2_HOST || '0.0.0.0'
            const PORT = process.env.P2_PORT || 8000

            let app = express()

            nunjucks.configure('server/views', {
                autoescape: true,
                express: app,
                watch: true
            })

            //Defines links in navbar
            const anchors = [
                {img: "/public/media/water.png", name: "Water", link: "/water"},
                {img: "/public/media/mountain.png", name: "Mountain", link: "/mountain"},
                {img: "/public/media/forest.png", name: "Forest", link: "/forest"},
                {img: "/public/media/city.png", name: "City", link: "/city"}
            ]

            //Used to get data from post
            app.use(bodyParser.urlencoded({ extended: false }))

            //Makes the public folder public
            app.use('/public', express.static('./public'))

            //Sets up redirects
            app.get('/', (req, res) => {
                res.render('earth.html', {anchors: anchors, active: req.path})
            })
            app.get('/water', (req, res) => {
                res.render('water.html', {anchors: anchors, active: req.path})
            })
            app.get('/forest', (req, res) => {
                res.render('forest.html', {anchors: anchors, active: req.path})
            })
            app.get('/mountain', (req, res) => {
                res.render('mountain.html', {anchors: anchors, active: req.path})
            })
            app.get('/city', (req, res) => {
                res.render('city.html', {anchors: anchors, active: req.path})
            })
            app.get('/doc', (req, res) => {
                res.render('doc.html', {anchors: anchors, active: req.path})
            })
            app.get('/about', (req, res) => {
                res.render('about.html', {anchors: anchors, active: req.path})
            })
            app.get('/contact', (req, res) => {
                res.render('contact.html', {anchors: anchors, active: req.path})
            })

            app.post('/msg',  function(req, res) {
                var name = req.body.name
                var email = req.body.email
                var text = req.body.text
                console.log("New Message from:",name,"\nEmail:",email,".\nMessage:", text,"\n------------")
                res.render('msg.html', {anchors: anchors, active: req.path})
            });


            let server = app.listen(PORT, HOST, () => console.log('Project server running on: ' + HOST + ':' + PORT))
            </blockquote></pre></code>
        </div>
        <div class="code-container-doc">
            <blockquote><pre><code>
                //contact page
                //Add listener to button submit, refresh div using ajax functionality
                $("#submit").click( () => {
                        let text = $("#msg-text").val();
                        let name = $("#msg-name").val();
                        let email = $("#msg-mail").val();
                        if( text !== "" && email !== "" && name !== "") {
                            $.post( '/msg',{name: name,text: text,email: email},(data) =>{
                                $('.text_container').html(data);
                            })
                        }
                    }
                )
            </blockquote></pre></code>
        </div>
    </div>
</div>
{% endblock %}
