{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="top">
        <h2 class="top-header">Hvordan har vi løst kravene?</h2>
    </div>
    <div id="requirements">
        <ul>
            <li>Bruk av node.js og express som webserver. Skriptet skal gjengis og beskrives på dokumentasjonssiden.</li>
            <li>Bruk port 8082 slik at prosjektet kan finnes på http://it2810-XX.idi.ntnu.no:8082 hvor XX er gruppenavnet.</li>
            <li>Bruk CSS Flexible Box Layout Module: Overordnet layout av komponentene på siden skal baseres på bruk av CSS Flexible Box Layout (også kalt flexbox layout). Hvordan dette er tatt i bruk skal beskrives på dokumentasjonssiden.</li>
            <li>Navigasjonsbaren skal implementeres ”fra bunnen av” (eksempelvis ikke baseres på eksisterende ui-elementer fra andre bibliotek).</li>
            <li>På nettstedet skal det være bruk av ajax-funksjonaliteten. Hvordan dette benyttes kan dere bestemme selv. En mulighet er at sidene lastes etter hvert som de velges i navigasjonsmenyen.</li>
            <li>Dere skal brukejQuery, og det er kun lov å bruke basis-biblioteket (og ikke UI-biblioteket).</li>
                <ul>
                    <li>jQuery selector-funksjonaliteten</li>
                    <li>en eller flere funksjoner fra jQuery APIet</li>
                    <li>funksjon som parameter</li>
                    <li>form for event-håndtering (f.eks. assosiere funksjoner med elementene i navigasjonsbaren).</li>
                </ul>
            <li>Web-siden skal ha responsive web design og tilpasse seg skjermer/enheter av forskjellig størrelse</li>
            <li>Alle medlemmene i gruppa skal ha bidratt med kode, design, testing etc. Den enkeltes innsats skal dokumenteres i et felles eget notat (eksempelvis med oppgave/timeliste). Dette notatet skal selvsagt kun være tilgjengelig for fagstaben.</li>
        </ul>
    </div>
</div>

{% endblock %}
