{% extends "base.html" %}
{% block content %}
<div id="earth_main_container">

    <div id="earth_header_container">
        <div>
            <h2>&quotWhat I stand for <br>
                is what I stand on.&quot</h2>
        </div>
    </div>

    <div class="content_container ">

        <div class="text_container">
            <h1>We love our earth</h1>
            Take a look around. Notice the details of the trees and and the green hues of the grass.
            Nature emphasizes the value of growth. Just as we grow every day, the plants and fruits of the earth do as well.
            Our world has reserved countless beautiful views that were created without the help of man.
            How lucky are we to be given the opportunity to explore these magnificent wonders? <br>
            I love our earth because even after the damage we continue to cause, it remains forgiving.
        </div>

    </div>

    <div class="text_container container_color">
        <div id="earth_keyword_container">
            <div class="earth_keyword_content">
                <hr>
                Save.
                <div class="earth_keyword_text">
                    Save the world
                </div>
                <hr>
            </div>
            <div class="earth_keyword_content">
                Protect.
                <div class="earth_keyword_text">
                    Protect the world
                </div>
                <hr>
            </div>
            <div class="earth_keyword_content">
                Something.
                <div class="earth_keyword_text">
                    Captain Obvious
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="content_container">
        <div class="text_container">
            <h1>Treat it with respect</h1>
            It’s in our human nature to act without realizing every risk.
            This especially plays into recycling and switching to non-synthetic resources.
            Don’t lie, at some point in your life you’ve probably thrown away an item that could have been recycled.
            I know I have. Or maybe you’ve left the water running while brushing your teeth?
            These are natural occurrences and happen subconsciously.
            The last thing I would want is to lecture about saving the planet, because you’ve heard it all before.
            However, we should treat the resources that we have with greater respect.
        </div>


    </div>


</div>

{% endblock %}
