<div id="faded"></div>
<div id="overlay">
    <div id="overlay-container">
        <img id="exit-button" src="./public/images/exit.png">
        <div class="overlay-info-container">
            <h3 id="title">City At Night</h3>
            <h5 id="date">testdate</h5>
            <h5 id="author">author</h5>
            <h5 id="resolution">Resolution</h5>
        </div>
        <div class="overlay-picture-container">
            <img id="overlay-picture" alt="City photo">
        </div>
    </div>
</div>